html{
    height: 100%;
}
body{
    height: 100%;
    --color1: #CAF0F8;
    --color2: #ADE8F4;
    --color3: #90E0EF;
    --color4: #48CAE4;
    --color5: #00B4D8;
    --color6: #0096C7;
    --color7: #0077B6;
    --color8: #023E8A;
    --color9: #03045E;
    background-image: linear-gradient(to bottom right, var(--color1), var(--color8));
    background-repeat: no-repeat, repeat;
}
*{
    font-family: 'Rubik';
}
 
#list-estacion {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: fit-content;
	flex-wrap: wrap;
	gap: 20px;
}

.btn-estacion {
	background-color: var(--color1);
    border: 1px solid black;
    border-radius: 40px;
    text-decoration: none;
    margin-bottom: 0.5em;
    padding-bottom: 20px;
    width: 300px;
    height: 100px;
}

#title{
	background-color: var(--color8);
    font-size: 22pt;
    color: white; 
    padding: 5px;
    margin-top: 10px; 
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.card-apodo{
    font-size: 16pt;
    text-align: center;
    color: black;
    background-color: var(--color7);
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 10px;
}

.card-ubicacion{
    font-size: 14pt;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
}

.card-visitas{
    font-size: 14pt;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
}