html, body{
  height:100%;
 }

body{
	background-image: linear-gradient(to bottom right, #FF9E00, #9D4EDD);
}

#nom-estacion{
    margin-bottom: 10px; 
    margin-left: 20px;
    font-size: 22pt;
    color: white; 
    font-family: 'Rubik';
}





#list-estacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-estacion {
    background-color: rgba(24,00,46,0.6);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 0.5em;
    padding: 1em 1em;
    width: 200px;
}

#title{
		margin-bottom: 10px; 
        margin-left: 20px;
		font-size: 22pt;
		color: white; 
}

.card-apodo{
	font-size: 16pt;
}

.card-visitas{
	margin-left: 272px;
}